<article class="mb-4">
    <div class="pb-4 max-w-md rounded overflow-hidden shadow-lg bg-white">
        <a href="{{ .RelPermalink | relLangURL }}">
            {{ if and (isset .Params "hero_type") (isset .Params "hero_src") }}
                <div class="text-center">
                    {{ if (eq .Params.hero_type "image") }}
                        <div class="h-80 bg-center bg-no-repeat bg-cover" style="background-image: url('{{ .Params.hero_src }}');"></div>
                    {{ end }}
                    {{ if (eq .Params.hero_type "video") }}
                        <div class="embed-container">{{ .Params.hero_src | safeHTML }}</div>
                    {{ end }}
                </div>
            {{ else }}
                <div class="h-80 bg-center bg-no-repeat bg-cover" style="background-image: url('http://via.placeholder.com/800x480');"></div>
            {{ end }}
        </a>
        <div class="px-4 md:px-16 pt-6 pb-4">
            <div class="mb-2"><a class="avenir-black font-bold text-theme-primary text-2xl no-underline" href="{{ .RelPermalink | relLangURL }}">{{ .Title }}</a></div>
            <div class="text-rl-gray mb-2">{{ .Date.Format "2 January, 2006" }} | By {{ .Params.author }}</div>
            <div class="pt-1 pb-2">
                {{ range .Params.tags }}
                    <span class="tag">#{{ . }}</span>
                {{ end }}
            </div>
            <p class="text-theme-primary text-base">{{ .Summary }}</p>
        </div>
        <p class="px-4 md:px-16 pt-6 pb-4 read-more-anchor">
            <a class="btn-outline btn-outline-blue" href="{{ .RelPermalink | relLangURL }}">Read More</a>
        </p>

    </div>
</article>
