/* https://github.com/tailwindcss/tailwindcss/issues/449 */

/* https://github.com/tailwindcss/discuss/issues/92 */

/**
 * Tailwind's preflight which resets the browser to be ready for Tailwind's utilities
 */
@import 'tailwindcss/base';

/**
 * Any custom component code. This comes before Tailwind's utilities to ensure the cascade doesn't
 * affect utilities
 */
@import 'utils';
@import 'menus';
@import 'accordion';
@import 'content';
@import 'svg-icons';

/**
 * Site-specific styles
 */
/* @import '../../../../src/styles/main'; */

@import 'tailwindcss/components';

/**
 * Tailwind's utilities
 */
@import 'tailwindcss/utilities';

/**
* Custom styles/utilities that don't come out of the box with Tailwind.
*/

.text-theme-primary {
	@apply .text-gray-700;
}

.bg-theme-primary {
	@apply .bg-blue-500;
}

.bg-theme-accent {
	@apply .bg-blue-400;
}

.bg-theme-gradient {
	background-image: linear-gradient(
		to bottom,
		theme('colors.blue.500'),
		theme('colors.blue.700')
	);
}

.bg-theme-gradient-reverse {
	background-image: linear-gradient(
		to top,
		theme('colors.blue.500'),
		theme('colors.blue.700')
	);
}

.mobile-theme-menu {
	@apply .text-blue-300 .border-blue-400;
}

.mobile-theme-menu:hover {
	@apply .text-white .border-white;
}

.bg-blue-gradient {
	background-image: linear-gradient(
		to bottom,
		theme('colors.blue.500'),
		theme('colors.blue.700')
	);
}

.bg-blue-gradient-reverse {
	background-image: linear-gradient(
		to top,
		theme('colors.blue.500'),
		theme('colors.blue.700')
	);
}

@responsive {
	.grid-col-2-reverse > div {
		grid-row: 1;
	}

	.grid-col-2-reverse > div:nth-of-type(1) {
		grid-column: 2;
	}

	.grid-col-2-reverse > div:nth-of-type(2) {
		grid-column: 1;
	}
}

@media (max-width: theme('screens.md')) {
	.mobile\:hidden {
		display: none;
	}
}

@extends {
	margin: 0px;
}

.l-title-underline::after {
	content: ' ';
	display: block;
	margin: 7px 0 16px 0;
	width: 25px;
	height: 4px;
	background-color: theme('colors.blue.700');
}

.ctr-title-underline::after {
	content: ' ';
	display: block;
	margin: 7px auto 16px auto;
	width: 45px;
	height: 4px;
	background-color: theme('colors.blue.700');
}

a.content-li {
	@apply .block .py-2;
}

a.content-li:not(:last-child) {
	@apply .border-b .border-gray-500;
}

/* http://embedresponsively.com/ */
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
