.dim {
	opacity: 1;
	transition: opacity 0.15s ease-in;

	&:focus,
	&:hover {
		opacity: 0.5;
		transition: opacity 0.15s ease-in;
	}

	&:active {
		opacity: 0.8;
		transition: opacity 0.15s ease-out;
	}
}

.border-b-faint {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.btn {
	@apply .inline-block .my-4 .py-2 .px-4 .min-w-2xs .rounded .cursor-pointer;
	@apply .bg-gray-500 .text-white .text-center .text-sm;
}

.btn-red {
	@apply .bg-red-500;
	
	&:hover {
		@apply .bg-red-400;

		transition: background-color 0.15s ease-out;
	}

	&:active {
		opacity: 0.8;
		transition: opacity 0.15s ease-out;
	}
}

.btn-blue {
	@apply .bg-blue-500;
	
	&:hover {
		@apply .bg-blue-400;

		transition: background-color 0.15s ease-out;
	}

	&:active {
		opacity: 0.8;
		transition: opacity 0.15s ease-out;
	}
}

.btn-outline {
	@apply .leading-normal .whitespace-no-wrap .text-center .text-gray-500;
	@apply .border .border-solid .rounded .border-gray-500;
	@apply .inline-block .px-6 .py-2 .min-w-2xs;
}

.btn-outline-red {
	@apply .text-red-500 .border-red-500;

	&:hover {
		@apply .border-red-400;

		transition: border-color 0.15s ease-out;
		transition: color 0.15s ease-out;
	}

	&:active {
		opacity: 0.8;
		transition: opacity 0.15s ease-out;
	}
}

.btn-outline-blue {
	@apply .text-blue-500 .border-blue-500;

	&:hover {
		@apply .border-blue-400;

		transition: border-color 0.15s ease-out;
		transition: color 0.15s ease-out;
	}

	&:active {
		opacity: 0.8;
		transition: opacity 0.15s ease-out;
	}
}

.card {
	@apply .w-full .rounded .overflow-hidden .bg-white .shadow-md .px-6 .py-8 .mb-8;
}

.card-title {
	@apply .font-bold .text-xl .mb-2 .text-center .text-gray-700;
}

.text-input {
	@apply .shadow .appearance-none .border .rounded .w-full .py-2 .px-3 .text-gray-700;
}

.tag {
	@apply .inline-block .bg-gray-400 .rounded-full .px-3 .py-1 .text-sm .font-semibold .text-gray-700 .mr-2;
}
