<!-- Note that some other pages have their own blockloaders as well -->
{{- $hasStart := (isset . "startSection") -}}
{{- $hasInclude := (isset . "include") -}}
{{- $hasBoth := (and $hasStart $hasInclude) -}}
{{/*  {{ partial "debugprint.html" . }}  */}}
{{- if (and $hasBoth (eq .startSection 1)) -}}
    {{- range first .include .page.sections -}}
        {{ with .container_class }}<div class="{{ . }}">{{ end }}
        {{ partial "block-index" . }}
        {{ with .container_class }}</div>{{ end }}
    {{- end -}}
{{- else if $hasBoth -}}
    {{- range first .include (after (sub $.startSection 1) .page.sections) -}}
        {{ with .container_class }}<div class="{{ . }}">{{ end }}
        {{ partial "block-index" . }}
        {{ with .container_class }}</div>{{ end }}
    {{- end -}}
{{- else if $hasStart -}}
    {{- range after (sub $.startSection 1) .page.sections -}}
        {{ with .container_class }}<div class="{{ . }}">{{ end }}
        {{ partial "block-index" . }}
        {{ with .container_class }}</div>{{ end }}
    {{- end -}}
{{- else -}}
    {{- range .page.sections -}}
        {{ with .container_class }}<div class="{{ . }}">{{ end }}
        {{ partial "block-index" . }}
        {{ with .container_class }}</div>{{ end }}
    {{- end -}}
{{- end -}}