<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>

{{/* Add all JS files from the components directory to the bundle */}}

{{- range (readDir "/assets/js/components") }}
{{- $rsrc := resources.Get (printf "js/components/%v" .Name) -}}
{{- $.Scratch.Add "jsFiles" (slice $rsrc) -}}
{{- end }}

{{- .Scratch.Add "jsFiles" (slice (resources.Get "js/main.js")) -}}

{{- $allJS := (.Scratch.Get "jsFiles") | resources.Concat "js/main.js" -}}
{{- $bundleJS := $allJS | resources.Minify | resources.Fingerprint }}
<script src="{{ $bundleJS.Permalink }}" integrity="{{ $bundleJS.Data.Integrity }}"></script>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
	if ('netlifyIdentity' in window) {
		window.netlifyIdentity.on('init', function (user) {
			if (!user) {
				window.netlifyIdentity.on('login', function () {
					document.location.href = '/admin/';
				});
			}
		});
	}
</script>
