<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>

{{- $main := resources.Get "js/main.js" -}}
{{- $plugins := resources.Get "js/plugins.js" -}}

{{- $defaultJS := slice $plugins $main | resources.Concat "js/default.js" -}}
{{- $globalJS := $defaultJS | resources.Minify | resources.Fingerprint }}
<script src="{{ $globalJS.Permalink }}" integrity="{{ $globalJS.Data.Integrity }}"></script>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
	if ('netlifyIdentity' in window) {
		window.netlifyIdentity.on('init', function (user) {
			if (!user) {
				window.netlifyIdentity.on('login', function () {
					document.location.href = '/admin/';
				});
			}
		});
	}
</script>
