<section class="">
    <div class="container mx-auto mt-12 px-2 md:px-8 grid grid-columns-1 md:grid-columns-2
    {{- with .Params.image_position -}}
        {{- if eq "left" . }} md:grid-col-2-reverse{{- end -}}
    {{- end -}}">
        <div class="px-2 md:px-8 py-4">
            {{- with .Params.heading -}}
            <h3 class="font-semibold text-2xl text-rl-gray rl-l-title-underline">{{ markdownify . }}</h3>
            {{- end -}}
            {{- with .Params.content -}}
            <div class="text-grey-darker content">
                {{ markdownify . }}
            </div>
            {{- end -}}
        </div>
        <div class="px-2 md:px-8 py-4">
            {{ if isset .Params "image" }}
                <img class="rounded-xl shadow-blurred" src="{{ relURL .Params.image }}" />
            {{ end }}
        </div>
    </div>
</section>
