{{ define "title" }}
    {{ .Title }} &ndash; {{ .Site.Params.Title }}
{{ end }}

{{ define "main" }}

{{ partial "page-title" (dict "title" .Title "subtitle" .Params.subtitle "page" .Params) }}

{{ with .Content }}
    <section class="container mt-12 px-2 md:px-8 pb-8 max-w-3xl text-theme-primary content">
        {{ . }}
    </section>
{{ end }}

    <!-- Use page-specific blockloader, since we need to divide up some sections -->
    {{- range .Params.blocks -}}
        {{- if eq .template "media-feature" -}}{{ partial "blocks/media-feature" (dict "Params" .) }}{{- end -}}
        {{- if eq .template "narrow-feature" -}}{{ partial "blocks/narrow-feature" (dict "Params" .) }}{{- end -}}
        {{- if eq .template "call-to-action" -}}{{ partial "blocks/cta" (dict "Params" .) }}{{- end -}}
        {{- if eq .template "1up" -}}{{ partial "blocks/1up" (dict "Params" .) }}{{- end -}}
        {{- if eq .template "2up" -}}{{ partial "blocks/2up" (dict "Params" .) }}{{- end -}}
        {{- if eq .template "1up-media" -}}{{ partial "blocks/1up-media" (dict "Params" .) }}{{- end -}}
        {{- if eq .template "card-grid" -}}{{ partial "blocks/card-grid" (dict "Params" .) }}{{- end -}}
        {{- if eq .template "grid-list" -}}{{ partial "blocks/grid-list" (dict "Params" .) }}{{- end -}}
    {{- end -}}

    <div class="bg-theme-gradient-reverse w-full mt-12">
        {{- range .Params.blocks -}}
            {{- if eq .template "action-feature" -}}{{ partial "blocks/action-feature" (dict "Params" .) }}{{- end -}}
            {{- if eq .template "narrow-cta" -}}{{ partial "blocks/narrow-cta" (dict "Params" .) }}{{- end -}}
        {{- end -}}
    </div>

{{ end }}
