{{ define "main" }}

<div>
    {{ partial "page-title" (dict "title" .Title "subtitle" .Params.subtitle "page" .Params)}}

    {{ with .Content }}
        <section class="container mt-12 px-2 md:px-8 pb-8 max-w-3xl text-theme-primary content">
            {{ . }}
        </section>
    {{ end }}

    <div class="container py-12 md:py-24 flex flex-col items-center px-4">
        {{ range (where .Site.Pages.ByWeight "Section" "products") }}
            {{ if ne .Permalink $.Permalink }} <!-- don't include self -->
                {{ partial "side-card" (dict "thumbnail" .Params.splash_src "title" .Title "description" .Params.description "button_url" .RelPermalink "button_text" "Learn More") }}
            {{ end }}
        {{ end }}
    </div>

    {{ partial "blockloader" (dict "page" .Params) }}


</div>

{{ end }}
