{{ define "title" }}
    {{ .Title }} &ndash; {{ .Site.Params.Title }}
{{ end }}

{{ define "main" }}
	{{ partial "page-title" (dict "category" (i18n "product") "title" .Title "page" .Params)}}

    {{ partial "blockloader" (dict "page" .Params "startSection" 1 "include" 1) }}

	{{ with .Content }}
		<section class="container mt-12 px-2 md:px-8 pb-8 text-theme-primary content">
			{{ . }}
		</section>
    {{ end }}
    
    {{ partial "blockloader" (dict "page" .Params "startSection" 2) }}

{{ end }}
